{% extends 'base.html' %}

{% block content %}
    {{block.super}}

    <div class="container-fluid" style="margin-top:7%">
        <!-- <div class="jumbotron" style="background-color:rgb(126, 235, 112)"> -->
            <!-- <img src="https://cdn.pixabay.com/photo/2017/02/06/11/49/city-2042634__340.png" alt="" style="width: 100%; margin-top: -150px"> -->
            <h2 class="slogan" style=" text-align: center">Businesses in your neighbourhood!</h2>
        </div>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-md-12" >
        {% for biz in businesses %}
            <div class="col-md-4" style="padding:1%">
                <div class="card border border-info" id="borderid">
                    <div style="text-align:center; background-color:#2E151B;" class="card-image">
                        
                         <img class="img-responsive" src="{{biz.business_image.url}}" alt="" height="200px" width="300px">
                            
                    </div>
                <div style="margin:2%">
                    <br>
                    <p class="heading">{{biz.business_name}}</p>
                    <hr>
                    <p> {{biz.business_description}}</p>
                   
                    <p style="float:right">{{biz.business_email}}</p>
                        <p>Contact Person:{{biz.contact_person}}</p>
                </div>
            </div>
        </div>
            {% empty %}
            <div class="row">
                <h2 class="text-center">There are no businesses added yet!</h2>
            </div>
        {% endfor %}
        </div>   
    </div>
</div>

    
{% endblock %}