{% extends 'base.html' %}

{% block content %}
{{block.super}}

{%if user.is_authenticated%}
{% if profile %}
<div class="container-fluid" style="margin-top:7%">
    <img src="https://i.pinimg.com/originals/53/f9/02/53f902ea2de6933c5c16e985841f6b81.jpg" alt="" style="width: 100%; margin-top: -85px; height: 450px;">
    <h2 class="slogan" style="margin-top: -120px; text-align: center">Latest events</h2>
    <br><br>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card border border-dark" id="borderid" style="margin-top:20%">
                <div style="margin:5%">
                    <h1 class="contacts">Contacts</h1>
                    <hr>
                    <h3>Health Department</h3>
                    <p>Phone Number: 0788888683</p>
                    <h3>Police </h3>
                    <p>Phone Number: 0782868584</p>
                    <hr>


                </div>
            </div>
        </div>
        <div class="col-md-1">

        </div>
        <div class="col-md-8" style="margin-top:5%">
            {% for new in posts%}
            <div class="col-md-6" style="padding:1%">

                <div class="card border " id="borderid">
                    <div style="margin:2%">
                        <br>
                        <p class="heading">{{new.title}}</p>
                        <hr>
                        <p> {{new.post}}</p>
                        <p style="float:right">{{new.pub_date}}</p>
                        <p>Posted By:{{new.profile}}</p>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="row">
                <h2 class="text-center">There are no Posts yet!</h2>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
{% else %}
<div class="containe" style="color: aliceblue; background-image: linear-gradient(to right, rgba(0, 0, 0, 0.521), rgba(36, 35, 35, 0.521)), url('https://ak1.picdn.net/shutterstock/videos/1031832851/thumb/1.jpg'); background-repeat: no-repeat; background-size: cover;">
    <br><br><br><br><br><br><br>
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
            <h1 class="headstyle">WELCOME TO NEIGHBOURHOOD WATCH </h1>
            <br>
            <p>Join your hood </p>
            <a style="font-size:15px;color: white" class='btn btn-outline-default' href="{%url 'NewProfile'%}">
                CREATE PROFILE</a>
            <br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
</div>
{% endif %}

{% else %}
<div class="container-fluid">
    <div class="row" style="background-image: url('https://previews.123rf.com/images/iimages/iimages1204/iimages120403177/13376801-cartoon-style-neighbourhood-next-to-road.jpg')">
        <div class="col-md-2">
        </div>
        <div class="col-md-8" style="text-align: center;">
            <br><br><br><br><br>
            <h1 class="headstyle">Welcome to the Neighbourhood Watch</h1>
            <br>
            <p>Access businesses and information alerts within your hood easily!</p><br>
            <h4>To get started</h4><br>
            <a style="font-size:15px; text-align: center; background-color: white" class='btn btn-outline-default' href="/accounts/login">REGISTER/LOGIN</a>
            <br><br><br><br><br><br><br>
        </div>
    </div>
</div>


{% endif %}

{% endblock %}